#map {
  height: 600px;
  box-shadow: 2px 2px 5px lightgray;
  border-radius: 25px;
}

#resultsDiv {
  height: 600px;
  box-shadow: 2px 2px 5px lightgray;
  border-radius: 25px;
  background-color: whitesmoke;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
}

@media (max-width: 1000px) {
  #map {
    height: 300px;
    box-shadow: 2px 2px 5px lightgray;
    border-radius: 25px;
  }

  #resultsDiv {
    height: 300px;
    box-shadow: 2px 2px 5px lightgray;
    border-radius: 25px;
    background-color: whitesmoke;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
  }
}

#resultsDiv::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.navbar {
  box-shadow: 0px 0px 5px grey;
}

.inputBubble {
  border: 0.25px solid lightgray;
  padding: 20px 20px 20px 10px;
  border-radius: 75px;
  box-shadow: 2px 2px 5px lightgray;
}

.btn {
  background-color: gold;
  color: black;
  border: none;
  box-shadow: 2px 2px 5px lightgray;
}

.beerImg {
  width: 50px;
  height: 50;
}

.btn:hover {
  background-color: lightblue !important;
  color: black;
}

#loading-image {
  width: 50%;
  height: 50%;
}

.error {
  border: 1px solid red;
  color: red;
}

.error::placeholder {
  color: red;
  opacity: 1;
}

.error:-ms-input-placeholder {
  color: red;
}

.error::-ms-input-placeholder {
  color: red;
}

.result:hover {
  box-shadow: 0px 0px 5px #d3d3d3;
  cursor: pointer;
}

input[type="text"]::placeholder {
  text-align: center;
}

.form-control {
  text-align: center;
}
